*
{
            box-sizing: border-box;
            margin: 0;
            padding: 0;
}

#header
{
    font-size: 32px;
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #fa0;
}

#sections
{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 20% 50% 30%;
}

#center-container li
{
    list-style-position: inside;
    font-size: 130%;
}

#center-container li:hover
{
    background-color: #fa0;
}