@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    --bg-circles-size: 45vh;
}

#bg
{
    color: #fff;
    background: #121321;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bg::before
{
    position: absolute;
    content: "";
    border-radius: 50%;
    background: linear-gradient(90deg, #9c27b0, #fff);
    transform: translate(-25vh, -17vh);
    height: var(--bg-circles-size);
    width: var(--bg-circles-size);
}

#bg::after
{
    position: absolute;
    content: "";
    border-radius: 50%;
    background: linear-gradient(90deg, #9c27b0, #fff);
    transform: translate(25vh, 17vh);
    height: var(--bg-circles-size);
    width: var(--bg-circles-size);

}

article:active
{
    transform: rotateY(180deg);
}

article
{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: 0.3s;
}
h4, h5, h6
{
    font-weight: 400;
}
h4
{
    font-size: 4vh;
}
h5
{
    font-size: 3vh;
}
h6
{
    font-size: 1.9vh;
    font-weight: 400;
}

.front__info
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.card
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 2vh 4.5vh 9vh 4.5vh;
    border-radius: 3vh;
    height: 45vh;
    width: 75vh;
    background: #fff3;
    backdrop-filter: blur(3.3vh);
    backface-visibility: hidden;
}

/*
.back::before
{
    margin-left: -4.5vh;
    content:"";
    position: absolute;
    transform: translate(0, -2vh);
    height: 6vh;
    width: 75vh;
    background: #000;
}*/

#card-number
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}
#card-number #chip
{
    width: 15%;
}

#logo
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;    
    gap: 2vh;
}

#logo img
{
    width: 12%;
}

#valid-date
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back
{
    font-size: 1.6vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-bottom: 5vh;
    transform: rotateY(180deg);
}

#magnetic
{
    height: 8vh;
    width: 75vh;
    margin-left: -4.5vh;
    background-color: #000;
}

#signature
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#signature span
{
    content: "";
    width: 55vh;
    height: 7vh;
    border-radius: 1vh;
    background-image: repeating-linear-gradient(#fff, #fff 0.5vh, #f4f4f4 0, #f4f4f4 1.7vh);
}

#signature p
{
    font-weight: 300;
    font-style: italic;
    margin-left: -0.8vh;
    border-radius: 0.8vh;
    padding: 0.9vh 1.3vh 0.9vh 0.9vh;
    background: #fff;
    color: #000;
    z-index: -1;
}