@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*
{
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
}

/*Biggest container configuring*/
.container
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #aaf;
    color: #fff;
}
/*Biggest container configuring*/

/*Card background colouring*/
#card
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8vh;
    padding: 2vh 4.5vh 17vh 4.5vh;
    width: 95vh;
    height: 55vh;
    background-image: url("../img/card-background.jpg");
    background-size: cover;
}
/*Card background colouring*/

/*Card format configuring*/
header, main, footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
main
{
    align-items: flex-end;
}
footer
{
    align-items: flex-end;
}
/*Card format configuring*/

/*image resizing*/
#mastercard img
{
    width: 30%;
}

#chip
{
    width: 20%;
}
/*image resizing*/

/*Font resizing and weighting- h4, h5, h6, p*/

h4
{
    font-weight: 500;
    font-size: 5vh;
}
h5, p
{
    font-weight: 400;
    font-size: 4vh;
}
h6
{
    font-weight: 400;
    font-size: 2.3vh;
}
/*Font resizing and weighting*/

/*mastercard and valid-thru repositioning*/
#valid-date, #mastercard
{
    display: flex;
    align-items: center;
}

#mastercard
{
    gap: 1vh;
}

#valid-date
{
    flex-direction: column;
    padding-right: 3.8vh;
}
/*mastercard and valid-thru repositioning*/